.basement{
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  #2F303A;
}

.basement>.container{
    display: flex;
    align-items: baseline;
}

.basement-contact{
    display: block;
    margin-right: 70px;
}

.basement-logo{
    display: inline-block;
    margin-bottom: 20px;
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    outline: 1px solid;
    border-radius: 4px;
    outline-color: transparent;
    transition: outline-color var(--transition-only);
}
.basement-logo:focus{
    outline-color:var(--second-background);
}
.basement-logo span{    
    color:var(--active-color);
}

.basement-item:not(:last-child){
    margin-bottom: 9px;}

.basement-map{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color var(--transition-only);}

.basement-email,
.basement-tel{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-only);
}


.basement-email:focus,
.basement-email:hover{
    outline:transparent;
    color: var(--active-color);
}
.basement-tel:focus,
.basement-tel:hover{
    outline:transparent;
    color: var(--active-color);
}
.basement-map:focus,
.basement-map:hover{
    outline:transparent;
    color: var(--active-color);}

.basement-soc-title{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--first-background);
}
.basement-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.basement-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill:var(--first-background);
    transition: background-color var(--transition-only);
}

.basement-soc-link:hover, 
.basement-soc-link:focus{
    background-color:var(--active-color);
    outline:transparent;
}


.basement-form{
    display: block;
    margin-left: auto;
}

.input-suptitle{
    display: block;
    margin-bottom: 20px;
}
.input-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-background);

}

.bas-input{
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: var(--first-background);
    background-color: transparent;
    border: 1px solid ;
    border-color: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
    transition: border-color var(--transition-only);
}
.bas-input:focus{
    border-color: var(--second-background);
}
.input-email{
    display: flex;
}
.bas-input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.btn-send{
    display: flex;
    align-items: center;
    padding: 0px 28px;
    height: 50px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: 1px solid;
    outline-color: transparent;
    transition: background-color var(--transition-only), outline-color var(--transition-only);
}
.btn-send:hover,
.btn-send:focus{
    background-color:#188CE8;

}
.btn-send:focus{
    outline-color: var(--second-background);}


.icon-send{
    margin-left: 10px;
}
