.team{
    margin-left: auto;
    margin-right: auto;
    background-color:var(--second-background);

    &__title{
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;
        min-width: 264px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--first-title-color);}

    &__list{  display: flex;}

    &__set{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    

    &__subtitle{  
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--first-title-color);   }

    &__text{
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            color:var(--accent-color);
            margin-bottom: 16px;
            }
}

.team__item{
    min-width: 270px;
    background-color:var(--first-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
        } 
} 


.soc{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc__link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill:#AFB1B8;
    transition: background-color var(--transition-only), fill var(--transition-only);

    &:hover,
    &:focus{
        outline: transparent;
        fill: var(--first-background);
        background-color:var(--active-color);       }
    }
    
